/autom4te.cache/
/aclocal.m4
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/Makefile
/Makefile.in
/stamp-h1
/wf
/wf-*.tar.*

*.o
*.lo
*.la
*.a

/src/.deps/
/src/Makefile
/src/Makefile.in
/src/wf
/tests/tmp/
